<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matvey Buldakov">
    <meta name="application-name" content="Agaria Site">
    <meta name="description" content="Site of People Republic Agaria">
    <meta name="keywords" content="народная, республика, агария">

    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/static/css/base.css?version={{ VERSION }}">
    <link rel="stylesheet" href="/static/css/base-m.css?version={{ VERSION }}">

    {% block links %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="menu">
         <img src="/static/images/icon.png" id="menu-logo">
        <div id="menu-items">
            <a href="/" class="menu-item">Главная</a>
            <a href="/time/" class="menu-item">Время</a>
            <a href="/change/" class="menu-item">Курс</a>
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>