{% extends "base.html" %}

{% block title %}Курс{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/css/change.css?ver={{ VERSION }}">
<link rel="stylesheet" href="/static/css/change-m.css?ver={{ VERSION }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
<div id="change-display">
    <canvas id="myChart" width="100%" height="50%"></canvas>
</div>
<div id="menu-change">
    <button id="to-minus" class="button"><</button>
    <div id="center">
        <div id="changes">
            {% for date in changes_dates %}
                <div class="change">
                    <div class="change-date">{{ date }}</div>
                    <div class="change-current" ruble="{{ changes[date]["to_ruble"] }}"><span>{{ changes[date]["to_ruble"] }}</span><span>₽</span></div>
                    {% if changes[date]["change_ruble"] > 0 %}
                        <div class="change-percent plus">+{{ changes[date]["change_ruble"] }}</div>
                    {% elif changes[date]["change_ruble"] == 0 %}
                        <div class="change-percent none">{{ changes[date]["change_ruble"] }}</div>
                    {% else %}
                        <div class="change-percent minus">{{ changes[date]["change_ruble"] }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <button id="to-plus" class="button" disabled>></button>
</div>
<script src="/static/js/changes.js?ver={{ VERSION }}"></script>
{% endblock %}