{% extends "base.html" %}

{% block title %}Время{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/css/time.css?ver={{ VERSION }}">
<link rel="stylesheet" href="/static/css/time-m.css?ver={{ VERSION }}">
{% endblock %}

{% block body %}
<div id="times">
    <div class="times-row">
        <div id="radis" class="time" utc="3">
            <div class="time-name">Время в Радисе</div>
            <div class="time-utc">UTC+3</div>
            <div class="time-time">00:00:00</div>
        </div>
        <div id="ridmo-matro" class="time" utc="4">
            <div class="time-name">Время в Ридмо и Матро</div>
            <div class="time-utc">UTC+4</div>
            <div class="time-time">00:00:00</div>
        </div>
        <div id="vonov" class="time" utc="2">
            <div class="time-name">Время в Вонове</div>
            <div class="time-utc">UTC+2</div>
            <div class="time-time">00:00:00</div>
        </div>
    </div>
    <div class="times-row">
        <div id="krindu" class="time" utc="1">
            <div class="time-name">Время в Кринду</div>
            <div class="time-utc">UTC+1</div>
            <div class="time-time">00:00:00</div>
        </div>
        <div id="hora" class="time" utc="2">
            <div class="time-name">Время в Хоре</div>
            <div class="time-utc">UTC+2</div>
            <div class="time-time">00:00:00</div>
        </div>
    </div>
</div>
<script src="/static/js/time.js"></script>
{% endblock %}